nav{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-right: 10px;
}

li {
    float: left;
}
li:hover {
    color: black;
}
.navItems {
    display: inline-block;
    padding-left: 9rem;
    padding-right: 9rem;
}