ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(46, 19, 70, 0.625);

}

li {
    float: left;
    
}
.navItems {
    display: inline-block;
    padding-left: 9rem;
    padding-right: 9rem;
}